<!DOCTYPE html>
<html>
  <head>
    <title>Desconto INSS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %> 
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="<%= proponentes_path %>">INSS Desconto</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto"> <!-- Isso vai manter os itens da esquerda alinhados -->
              <li class="nav-item active">
                <a class="nav-link" href="<%= proponentes_path %>">Home</a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto"> <!-- Alinhar os itens à direita -->
              <li class="nav-item">
                <a class="nav-link" href="<%= destroy_user_session_path %>">Sair</a> <!-- Link para logout -->
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>

    <div class="container mt-4">
      <%= yield %>
    </div>

  </body>
</html>
